<div class="container mt-4">
  <h2 class="mb-3">Wallet</h2>

  <div *ngIf="!isWalletReady" class="d-flex justify-content-center align-items-center" style="height: 100px;">
    <div class="loading-spinner"></div>
  </div>

  <div *ngIf="isWalletReady">
    <ng-container *ngFor="let title of tableTitles">
      <h3>{{ title }}</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Sensor ID</th>
          <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let id of sensorIds">
          <tr  [id]="'sensor-' + id" *ngIf="id % 4 === tableTitles.indexOf(title)">
            <td class="row-id">{{ id }}</td>
            <td class="row-latest"> {{wallet[id] | number:'1.2-6' }} </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </ng-container>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger item-space">
    {{ errorMessage }}
  </div>
</div>
